/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* known TODO list:
    - add the | thingie using ::before
    - fix the search form - for some reason it has leftovers on the right
    - fix the arrow in morebtn
    - fix z-index
    - fix WHAT CAN WE DO FOR YOU images
    - replace "webkit"
    - lower text inside the events boxes
    - add back to top reg
    */

body{
    font-family: 'Open Sans', sans-serif;
 /*   height: 78px;*/
   /* width: 960px; */
    margin: auto;
    display: block;
}





.header{
    position: fixed;
    width: 100%;
    height: 90px;
    top:0;
    right:0;
    left: 0;
    background: white;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.27);
    z-index: 99;
    display: block;
}

.container{
 /*   height: 78px;*/   /*TODO:makes the login pop?!*/
    display: block;
    position: relative;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}


.container a:hover {
    color: #30A4D9;
}

.logo {
  height: 100%;
  position: relative;
  display: inline-block;
  bottom: -15px;
 /* margin:auto;*/

      
}

nav {
    position: relative;
    display: inline-block;

}

.navbar {
    list-style: none;
    margin: 0;
    padding-left:180px;
    padding-right:70px;
    padding-top:1px;
    position: relative;
    display: inline-block;
}

.navbar> li {
    list-style-type: none;
    display: inline-block;
  /*  float:left; */ /*TODO:not sure, if i use float then inline would work*/
 /*   position:relative;*/
}


.navbar> li > a {
    text-decoration: none;
    color: #585951;
    display:block;
    outline:0;
   /*   -webkit-padding-start: 20px;*/
    padding: 0 0 0 10px;
    
}


.header-login {
    position: absolute;
    display:inline-block;
    color:#585951;
    top: 0;
    right:0;
    /*padding-top:5px;*/
}

.header-login >li {
  display:inline;

 /* float: right;*/
}

.header-login >li>a{
    color:#585951;

    /*float: right;   */
    text-decoration: none;
}

.search{
    font-size: 14px;
    display: inline-block;
    margin-right: 0px;
    margin-left:0px;
    padding-left: 0px;
}

.search input {
    border: 1px solid rgb(210, 210, 210);
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(231, 231, 231, 0.75);

    border-radius: 6px;
    
    padding: 0px;
  /*  padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;*/
    width: 146px;
    height: 20px;
    outline-style: none;
    display: inline-block;
}




.search button {
    border: none;
    display:inline-block;
    right:35px;
    background: none;
    position:relative;

}

.search button img {
    width:13px;
    height:13px;
}










.carousel{
    background-image: url("../img/slide-bg-complexity.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 90px;
    height: 650px;
    display:block;
    padding-top:78px;
    padding-bottom: 0;
    color:white;
    z-index: 50;
}


.carousel-container{
    max-width: 960px;
    margin-top:78px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    z-index: 50;
}

.carousel-container > h1{
    font-size: 42px ;  /* Approximation due to font substitution */
    font-weight: 400;
    font-size: 42px; /* Approximation due to font substitution */
    line-height: 44px; /* Approximation due to font substitution */
    text-align: left;
    width:415px;

}

.carousel-inside ul{
    padding-left: 0;
    padding-top: 30px;
}


.morebtn{
    text-decoration:none;
    background-color:  #3399cc;
    box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
    border-radius: 6px;
    color: white;
    padding: 4px 5px 5px 7px;
    font-size:14px;
}

.morebtn:after{
    content: url("../img/btnArrow.png");
    padding-left: 25px;

}

.morebtn:hover{
  background :#2291C7;
}

.morebtn img{
    padding-left:30px;
    padding-right: 0px;
    height:9px;
    width:9px;

}



.morebox{
    width:286px;
    height:174px;
    color:white;
border-radius: 6px;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}



.morebox h2{
    cursor:pointer;
    font-size: 24px;
    line-height: 30px; 
    text-align: left;
    margin:5px;
    padding-bottom:25px;
    font-weight: 300;
}


.morebox a{
    text-decoration:none;
    color:white;
    font-size:15px;
    font-weight:bold;
}



.pinkbox{
    background-color: #f24f9e;
    list-style: none;
    opacity: 0.7;
}


.greenbox{
    background-color: #66CC33;
    list-style: none;
    opacity: 0.7;
}

.orangebox{
    background-color: #FF8A3C;
    list-style: none;
    opacity: 0.7;
}






.morebox:hover{
    opacity: 1;
}

.morebox a:hover{
    color: #30A4D9;
}


.offering{
    background: url("../img/WhatCanWeBack.jpg") no-repeat center center;
    /*background-size: cover;*/
    z-index: 25;
 /*   height: 451px;*/
    padding-bottom: 58px;
}





.whatcanwe {
    font-weight: normal;
    font-style: normal;
    color: white;
    display: block;
    max-width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    z-index: 25;



}

.whatcanwe h3{
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 300;
    margin-top: 0;
    line-height: 40px;
}

.whatcanwe ul{
    padding-left: 0px;
    list-style: none;
    display: block;

}


.icons li{
    text-align: center;
    vertical-align: top; 
    display: inline-block;
    font-size: 14px;
    padding-right: 0px;
    max-width: 155px;
}
.icons .data::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .data:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}


.icons .machine::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .machine:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}

.icons .ott::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .ott:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}

.icons .cloud::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .cloud:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}

.icons .managed::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .managed:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}

.icons .social::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .social:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}


.whatcanwe a.morebtn{
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.else-btn{
    width: 188px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }





.happening{
    background-image: url("../img/news-and-events-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center ;
    background-position-y:center;
    height: 454px;
    z-index:15;
    display:block;
    padding:2px;

}

.events{
    max-width:960px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: white;

    
}

.events h4{
    color:white;
    font-size: 42px; 
    font-weight: 300;
    line-height: 28px; 
    text-align: center;
    padding-top: 10px;

}



.events a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    position: relative;
    left: 5px;
}




.events ul{
    display: block;
    list-style-type: none;
    -webkit-padding-start: 0px;
}

.events li{
    display: inline-block;
    margin-right: 10px;
    font-size: 34px;
    font-weight: 300;
    line-height: 28px; 
    text-align: left;
}
.news div>p,.event div>p{
    text-align: left;
    border-radius: 2px;
    background-color:  rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 4px 0px #a2a2a2;
    width: 296px;
    height: 119px;
    margin-right: 10px;
    padding-top: 10px;
    font-family: Arial;
    color:  #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    cursor:pointer;

}

.news div>p:hover,.event div>p:hover{
        background-color:  rgba(255, 255, 255, 0.8);
}


time{
    display: inline-block;
    border-radius: 2px;
    background-color:  #3399cc;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    width: 69px;
    height: 99px;
 /*   margin-top: 10px;*/
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float:left;

}

.day{
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 7px;
    padding-bottom: 25px;
    color:white;
    text-align: center;
    display: block;
    border-bottom: dotted;
    border-bottom-width: 1px;
    font-size: 48px; 
    font-weight: 400;
    width: 60px;
}

.month{



    color:white;
    text-align: center;
    display: block;


    font-size: 25px; 
    font-weight: 400;

}


.events  a:hover{
    color: black;
}

.events .news a:before{
    content: url("../img/eventListIconNews.png");
    position: relative;
    right: 5px;

}



.events .news a:hover:before{
      content: url("../img/eventListIconNews_hover.png");

}



.events .event a:before{
    content: url("../img/eventListIconEvents.png");
    position: relative;
    right: 5px;
}

.events .event a:hover:before{
      content: url("../img/eventListIconEvents_hover.png");
}





.icons .data::before{
      content: url("../img/solution_icon_smart-money.png");
}











.success{
    background: #ECECEC;
    color: #565656;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center ;
    background-position-y:center;
    height: 650px;
    z-index:10;
    padding:2px;

}
.seemore{
    max-width: 190px;
  display: block;
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}


.success a.morebtn{
      margin-top: 60px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.stories{
    max-width:960px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    display: block;

}

.stories ul{
    display: block;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.stories li{
    display: inline-block;

}


.success h5{
    color:  #565656;
    font-size: 42px; 
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding-top: 10px;
}


.stories .first{
    border-radius: 2px;
    width: 349px;
    vertical-align: top;
    padding-right: 5px;
}

.sergey-before{
    background: white;
    text-align: left;
    padding: 5px;
}

.sergey-before blockquote{
    color:  #565656;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px; 
    margin: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 8px;

}
.sergey-before blockquote p{
    margin: 0;
}
.sergey-before blockquote p:before{
    content: url("../img/quote-grey.png");
}
.sergey-before blockquote:before{
    content: url("../img/sergey.jpg");
    float:left;
    padding-right: 5px;
}
.sergey-before .details-all:after{
    content: url("../img/3mob.jpg");
    padding-right: 15px;
    float:right;
}

.details{
    padding-left: 15px;
    margin-bottom: 0px;
    color:  #565656;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}



.sergey-before hr{
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    width: 315px;
    display: block;
    padding-left: 10px;
    padding-right: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ECECEC;

}

.cycle{
    padding-top: 10px;
    height: 97px;
    padding-right: 5px;
    width: 110px;
    content: url("../img/cycle.jpg");
}
.bull{
    height: 97px;
    padding-right: 5px;
    width: 110px;
    content: url("../img/bull.jpg");
}
.gem{
    height: 97px;
    width: 110px;
    content: url("../img/gem.jpg");

}







.stories .second{
    border-radius: 2px;
    width: 347px;
}

.adale-before {
    background: white;
    text-align: left;
    padding-bottom: 0px;
}

.adale-before hr{
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    width: 313px;
    display: block;
    padding-left: 10px;
    padding-right: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ECECEC;

}




.adale-before blockquote{
    color:  #565656;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px; 
    margin: 0;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 7px;
    padding-left: 8px;

}
.adale-before blockquote p{
    margin: 0;
}

.adale-before blockquote:before{
    content: url("../img/adale.jpg");
    float:left;
    padding-right: 5px;
}
.adale-before .details-all:after{
    content: url("../img/adalelogo.jpg");
    padding-right: 15px;
    float:right;
}








.mtc{
    height: 97px;
    padding-right: 5px;
    width: 110px;
    content: url("../img/mtc.jpg");

}
.cable{
    padding-right: 3px;

    height: 97px;
    width: 110px;
    content: url("../img/cable.jpg");

}
.tech{
    height: 97px;
    width: 110px;
    content: url("../img/tech.jpg");

}

.stories .third{
    border-radius: 2px;
    width: 229px;
}





.ravishanker-before{
    background: white;
    text-align: left;
        padding: 5px;

}
.ravishanker-before hr{
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    width: 313px;
    display: block;
    padding-left: 10px;
    padding-right: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ECECEC;

}


.ravishanker-before blockquote{
    color:  #565656;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px; 
    margin: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 8px;

}
.ravishanker-before blockquote p{
    margin: 0;
}

.ravishanker-before blockquote p:before{
    content: url("../img/quote-grey.png");
}
.ravishanker-before .details-all:after{
    content: url("../img/ravilogo.jpg");
    padding-right: 15px;
    float:right;
}




.hp{
    margin-bottom: 0;
    margin-top: 5px;

    height: 97px;
    width: 110px;
    content: url("../img/hp.jpg");

}
.atos{
        margin-bottom: 0;
    padding-bottom: 0px;
    margin-top: 0px;
    height: 97px;
    width: 110px;
    content: url("../img/atos.jpg");
    padding-left:4px;

}

.name{
color:  #3aa6db;
font-size: 14px; 
font-weight: 300;
line-height: 30px; 
text-align: left;
}








    





footer{
    background: #2D2D2D;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center ;
    background-position-y:center;
    color:white;
    height: 323px;
    z-index: 5;
}
footer ul{
    margin: 0;
        list-style: none;
}


.latest{
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
