/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


body{
    font-family: 'Open Sans', sans-serif;
    height: 78px;
   /* width: 940px; */
    margin: auto;
    display: block;
}

.header{
  position: fixed;
  width: 100%;
 /* height: 90px;*/
  top:0;
  right:0;
  left: 0;
  background: white;
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.27);
    z-index: 10;
}

.container{
    height: 78px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.container a:hover {
    color: #30A4D9;
}

.logo {
  height: 100%;
  position: relative;
  display: inline-block;
  margin:auto;

      
}

.navbar {
    position: relative;
    display: inline-block;
}

.navbar-inside {
 /*   list-style: none;*/
    margin: 0;
     padding-left:150px;
    padding-top:1px;
    position: relative;
    display: inline-block;
}

.navbar-inside > li {
    display: block;
    float:left;
    position:relative;
}


.navbar-inside > li > a {
    text-decoration: none;
    color: #585951;
    display:block;
    outline:0;
    padding: 0 0 0 20px;
    
}


.header-login {
    float:right;
    display:inline;
    color:#585951;
    padding-top:5px;
}

.header-login >li {
  display:block;
  float: right;
}

.header-login >li>a{
    color:#585951;
    float: right;   
    text-decoration: none;
}

.search input {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    height:16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    width: 142px;
    outline-style: none;
    display: inline-block;
}

.search button {
    border: none;
    display:inline-block;
    right:35px;
    background: none;
    position:relative;

}

.search button img {
    width:13px;
    height:13px;
}




.carousel{
    background-image: url("../img/slide-bg-complexity.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 78px;
    height: 650px;
    display:block;
    padding-top:78px;
    color:white;
}

.carousel h1{
    width: 400px;
}


.morebtn{
  text-decoration:none;
  background: #1486C1;
  border-radius: 6px;
  color: white;
  padding: 4px 5px 5px 7px;
  font-size:17px;
}

.morebtn:hover{
  background :#2291C7;
}

.morebtn img{
    padding-left:30px;
    padding-right: 0px;
    height:9px;
    width:9px;

}



.morebox{
    width:270px;
    height:160px;
    color:white;
    border-radius:5px;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}



.morebox h2{
    margin:5px;
    padding-bottom:25px;
    font-size: 22px;
    font-weight:lighter;
}


.morebox a{
    text-decoration:none;
    color:white;
    font-size:15px;
    font-weight:bold;
}

.pinkbox{
    background-color: #f24f9e;
    list-style: none;
    opacity: 0.7;
}


.greenbox{
    background-color: #66CC33;
    list-style: none;
    opacity: 0.7;
}

.orangebox{
    background-color: #FF8A3C;
    list-style: none;
    opacity: 0.7;
}


.morebox:hover{
    opacity: 1;
}

.morebox a:hover{
    color: #30A4D9;
}


.whatcanwe {
    font-weight: normal;
    font-style: normal;
    background: #40A4CD;
    color: white;
    display: inline-block;
    width: 100%;


}

.whatcanwe .icons{
    list-style: none;
}

.icons .data::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .data:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}


.icons .machine::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .machine:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}

.icons .ott::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .ott:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}

.icons .cloud::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .cloud:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}

.icons .managed::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .managed:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}

.icons .social::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .social:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}



.events{
    background-image: url("../img/news-and-events-bg.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display:block;
    padding:2px;
    color:white;

}

.events a{
    text-decoration: none;
    color:white;
}

.events .news a::before{
      content: url("../img/eventListIconNews.png");
}

.events .news a:hover::before{
      content: url("../img/eventListIconNews_hover.png");
}


.events .event a::before{
      content: url("../img/eventListIconEvents.png");
}

.events .event a:hover::before{
      content: url("../img/eventListIconEvents_hover.png");
}


.events h4{
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}


.icons .data::before{
      content: url("../img/solution_icon_smart-money.png");
}

.success{
    background: #ECECEC;
    color: #565656;
}

.whitebox{
    background-color: white;
    list-style-type: none;
}


.hover .before, .hover:hover .after {
    opacity: 1;
}

.whitebox .after {
    background-color: #40A4CD;
    height: 100%;
    width: 100%;
}

.whitebox .after, .whitebox:hover .before {
    opacity: 0;
}


footer{
    background: #323232;
    color:white;
}
footer ul{
        list-style: none;
}


.latest{
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
