/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */





body{
    font-family: 'Open Sans', sans-serif;
 /*   height: 78px;*/
   /* width: 960px; */
    margin: auto;
    display: block;
}





header{
    height: 90px;
    top:0;
    right:0;
    left: 0;
    background: white;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.27);
    z-index: 99;
    display: block;
}

.header-fixed{
    position: fixed;
    width: 100%;
}


.container{
 /*   height: 78px;*/   /*TODO:makes the login pop?!*/
    display: block;
    position: relative;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}


.container a:hover {
    color: #30A4D9;
}

.logo {
    z-index: 200;
  height: 100%;
  position: relative;
  display: inline-block;
  bottom: -15px;
 /* margin:auto;*/

      
}

nav {
    position: relative;
    display: inline-block;

}

.navbar {
    list-style-type: none;
    margin: 0;
    padding-left:180px;
    padding-right:45px;
    padding-top:1px;
    display: inline-block;
    background-color: white;
}

.navbar:after {
  content: "";
  display: block;
  color: black;
  clear: both;
}

.navbar-outside > ul {
  display: none;
  position: absolute;
  width: 150px;
}

li a {
  color: #333;
}

.navbar> .navbar-outside  {
  float: left;

}

.navbar li:hover > .navbar-inside {
  display: block;
}

.navbar-outside > .navbar-inside > li {
  float: none;

}






.navbar> li > a {
    text-decoration: none;
    color: #585951;
    display:block;
    outline:0;
   /*   -webkit-padding-start: 20px;*/
    padding: 0 0 0 10px;
    
}


.header-login {
    position: absolute;
    display:inline-block;
    color:#585951;
    top: 0;
    right:0;
    padding-right: 32px;
    /*padding-top:5px;*/
}

.header-login >li {
  display:inline;

 /* float: right;*/
}

.header-login >li>a{
    color:#585951;

    /*float: right;   */
    text-decoration: none;
}

.search{
    font-size: 14px;
    display: inline-block;
    margin-right: 0px;
    margin-left:0px;
    padding-left: 0px;
    float: right;
}

.search input {
    border: 1px solid rgb(210, 210, 210);
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(231, 231, 231, 0.75);

    border-radius: 6px;
    
    padding: 0px;
  /*  padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;*/
    width: 146px;
    height: 20px;
    outline-style: none;
    display: inline-block;
}




.search button {
    border: none;
    display:inline-block;
    right:35px;
    background: none;
    position:relative;

}

.search button img {
    width:13px;
    height:13px;
}










.carousel{
    background-image: url("../img/slide-bg-complexity.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 90px;
    height: 650px;
    display:block;
    padding-top:78px;
    padding-bottom: 0;
    color:white;
    z-index: 50;
    position: relative;
}


.carousel-container{
    max-width: 960px;
    margin-top:78px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    z-index: 50;
    position: relative;
}

.carousel-container > h1{
    font-size: 42px ; 
    font-weight: 400;
    font-size: 42px; 
    line-height: 44px; 
    text-align: left;
    width:415px;

}

.carousel-inside ul{
    padding-left: 0;
    padding-top: 30px;
}


.morebtn{
    text-decoration:none;
    background-color:  #3399cc;
    box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
    border-radius: 6px;
    color: white;
    padding: 4px 5px 5px 7px;
    font-size:14px;
}

.morebtn:after{
    content: url("../img/btnArrow.png");
    padding-left: 25px;

}

.morebtn:hover{
  background :#2291C7;
}

.morebtn img{
    padding-left:30px;
    padding-right: 0px;
    height:9px;
    width:9px;

}

.pagination{
    list-style-type: none;
}
.pagination a{
    display: none;
    text-decoration: none;
}
.firstslide{
    background: #2D95C9;
/*    color: #e5e5e5;*/
  font: 1em/11px Arial;
  text-align: center;
  float: left;
  margin-left: 7px;
  width: 11px;
  height: 11px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color:#2D95C9;
    
}

.secondslide ,
.thirdslide ,
.forthslide{
    background: #e5e5e5;
  color: #e5e5e5;
  font: 1em/11px Arial;
  text-align: center;
  float: left;
  margin-left: 7px;
  width: 11px;
  height: 11px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px

}


.secondslide:hover,
.thirdslide:hover ,
.forthslide:hover{
    background: #2D95C9;

}

.morebox{
    width:286px;
    height:174px;
    color:white;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}



.morebox h2{
    cursor:pointer;
    font-size: 24px;
    line-height: 30px; 
    text-align: left;
    margin:5px;
    padding-bottom:25px;
    font-weight: 300;
}


.morebox a{
    text-decoration:none;
    color:white;
    font-size:15px;
    font-weight:bold;
}



.pinkbox{
    background-color: #f24f9e;
    list-style: none;
    opacity: 0.7;
}


.greenbox{
    background-color: #66CC33;
    list-style: none;
    opacity: 0.7;
}

.orangebox{
    background-color: #FF8A3C;
    list-style: none;
    opacity: 0.7;
}






.morebox:hover{
    opacity: 1;
}

.morebox a:hover{
    color: #30A4D9;
}


.offering{
    background: url("../img/WhatCanWeBack.jpg") no-repeat center center;
    /*background-size: cover;*/
    z-index: 25;
 /*   height: 451px;*/
    padding-bottom: 58px;
    position: relative;
}





.whatcanwe {
    font-weight: normal;
    font-style: normal;
    color: white;
    display: block;
    max-width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    z-index: 25;
    position: relative;



}

.whatcanwe h3{
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 300;
    margin-top: 0;
    line-height: 40px;
    position: relative;
}

.whatcanwe ul{
    padding-left: 0px;
    list-style: none;
    display: block;

}


.icons li{
    text-align: center;
    vertical-align: top; 
    display: inline-block;
    font-size: 14px;
    padding-right: 0px;
    max-width: 155px;
}
.icons .data::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons .data:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}


.icons .machine::before{
      content: url("../img/solution_icon_biz-transform.png");
}

.icons .machine:hover::before{
      content: url("../img/solution_icon_biz-transform_hover.png");
}

.icons .ott::before{
      content: url("../img/solution_icon_biz-analitics.png");
}

.icons .ott:hover::before{
      content: url("../img/solution_icon_biz-analitics_hover.png");
}

.icons .cloud::before{
      content: url("../img/solution_icon_diti-cx.png");
}

.icons .cloud:hover::before{
      content: url("../img/solution_icon_diti-cx_hover.png");
}

.icons .managed::before{
      content: url("../img/solution_icon_optimize-efficnt.png");
}

.icons .managed:hover::before{
      content: url("../img/solution_icon_optimize-efficnt_hover.png");
}

.icons .social::before{
      content: url("../img/solution_icon_personal.png");
}

.icons .social:hover::before{
      content: url("../img/solution_icon_personal_hover.png");
}


.whatcanwe a.morebtn{
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.else-btn{
    width: 188px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
  }





.happening{
    background-image: url("../img/news-and-events-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center ;
    background-position-y:center;
    height: 454px;
    z-index:15;
    display:block;
    padding:2px;
    position: relative;

}

.events{
    max-width:960px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: white;
    position: relative;

    
}

.events h4{
    color:white;
    font-size: 42px; 
    font-weight: 300;
    line-height: 28px; 
    text-align: center;
    padding-top: 10px;

}



.events a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    position: relative;
    left: 5px;
}




.events ul{
    position: relative;
    display: block;
    list-style-type: none;
    -webkit-padding-start: 0px;
}

.events li{
    display: inline-block;
    margin-right: 10px;
    font-size: 34px;
    font-weight: 300;
    line-height: 28px; 
    text-align: left;
}
.news div>p,.event div>p{
    text-align: left;
    border-radius: 2px;
    background-color:  rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 4px 0px #a2a2a2;
    width: 296px;
    height: 119px;
    margin-right: 10px;
    padding-top: 10px;
    font-family: Arial;
    color:  #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    cursor:pointer;

}

.news div>p:hover,.event div>p:hover{
        background-color:  rgba(255, 255, 255, 0.8);
}


time{
    display: inline-block;
    border-radius: 2px;
    background-color:  #3399cc;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    width: 69px;
    height: 99px;
 /*   margin-top: 10px;*/
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float:left;

}

.day{
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 7px;
    padding-bottom: 25px;
    color:white;
    text-align: center;
    display: block;
    border-bottom: dotted;
    border-bottom-width: 1px;
    font-size: 48px; 
    font-weight: 400;
    width: 60px;
}

.month{



    color:white;
    text-align: center;
    display: block;


    font-size: 25px; 
    font-weight: 400;

}


.events  a:hover{
    color: black;
}

.events .news a:before{
    content: url("../img/eventListIconNews.png");
    position: relative;
    right: 5px;

}



.events .news a:hover:before{
      content: url("../img/eventListIconNews_hover.png");

}



.events .event a:before{
    content: url("../img/eventListIconEvents.png");
    position: relative;
    right: 5px;
}

.events .event a:hover:before{
      content: url("../img/eventListIconEvents_hover.png");
}





.icons .data::before{
      content: url("../img/solution_icon_smart-money.png");
}











.success{
    position: relative;
    background: #ECECEC;
    color: #565656;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center ;
    background-position-y:center;
    height: 650px;
    z-index:10;
    padding:2px;

}
.seemore{
    position: relative;
    max-width: 190px;
  display: block;
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}


.success a.morebtn{
    position: relative;
      margin-top: 60px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.stories{
    position: relative;
    max-width:960px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    display: block;

}

.stories ul{
    position: relative;
    display: block;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.stories li{
    display: inline-block;

}


.success h5{
    color:  #565656;
    font-size: 42px; 
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding-top: 10px;
}


.stories .first{
    border-radius: 2px;
    width: 349px;
    vertical-align: top;
    padding-right: 5px;
}

.sergey-before{
    background: white;
    text-align: left;
    padding: 5px;
}

.sergey-before blockquote{
    color:  #565656;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px; 
    margin: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 8px;

}
.sergey-before blockquote p{
    margin: 0;
}
.sergey-before blockquote p:before{
    content: url("../img/quote-grey.png");
}
.sergey-before blockquote:before{
    content: url("../img/sergey.jpg");
    float:left;
    padding-right: 5px;
}
.sergey-before .details-all:after{
    content: url("../img/3mob.jpg");
    padding-right: 15px;
    float:right;
}

.details{
    position: relative;
    padding-left: 15px;
    margin-bottom: 0px;
    color:  #565656;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}



.sergey-before hr{
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    width: 315px;
    display: block;
    padding-left: 10px;
    padding-right: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ECECEC;

}

.cycle{
    position: relative;
    padding-top: 10px;
    height: 97px;
    padding-right: 5px;
    width: 110px;
    content: url("../img/cycle.jpg");
}

.cycle:hover{
    padding-top: 10px;
    height: 97px;
    padding-right: 5px;
    width: 110px;
    content: url("../img/play.jpg");
    position: relative;

}

.bull{
    position: relative;
    height: 97px;
    padding-right: 5px;
    width: 110px;
    content: url("../img/bull.jpg");
}

.bull:hover{
    position: relative;
    content: url("../img/play.jpg");
    height: 97px;
    padding-right: 5px;
    width: 110px;
}

.gem{
    position: relative;
    height: 97px;
    width: 110px;
    content: url("../img/gem.jpg");

}

.gem:hover{
    position: relative;
    content: url("../img/play.jpg");
    height: 97px;
    width: 110px;
}






.stories .second{
    border-radius: 2px;
    width: 347px;
}

.adale-before {
    background: white;
    text-align: left;
    padding-bottom: 0px;
}




.adale-before hr{
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    width: 313px;
    display: block;
    padding-left: 10px;
    padding-right: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ECECEC;

}




.adale-before blockquote{
    color:  #565656;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px; 
    margin: 0;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 7px;
    padding-left: 8px;

}
.adale-before blockquote p{
    margin: 0;
}

.adale-before blockquote:before{
    content: url("../img/adale.jpg");
    float:left;
    padding-right: 5px;
}
.adale-before .details-all:after{
    content: url("../img/adalelogo.jpg");
    padding-right: 15px;
    float:right;
}








.mtc{
    height: 97px;
    padding-right: 5px;
    width: 110px;
    content: url("../img/mtc.jpg");
    position: relative;

}

.mtc:hover{
    position: relative;
    content: url("../img/play.jpg");
    height: 97px;
    padding-right: 5px;
    width: 110px;
}
.cable{
    padding-right: 3px;
    height: 97px;
    width: 110px;
    content: url("../img/cable.jpg");
    position: relative;

}

.cable:hover{
    position: relative;
    content: url("../img/play.jpg");
    padding-right: 3px;
    height: 97px;
    width: 110px;
}

.tech{
    height: 97px;
    width: 110px;
    content: url("../img/tech.jpg");
    position: relative;
}


.tech:hover{
    position: relative;
    content: url("../img/play.jpg");
    height: 97px;
    width: 110px;
}
.stories .third{
    border-radius: 2px;
    width: 229px;
}





.ravishanker-before{
    background: white;
    text-align: left;
        padding: 5px;
padding-top: 9px;
}
.ravishanker-before hr{
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    width: 313px;
    display: block;
    padding-left: 10px;
    padding-right: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ECECEC;

}


.ravishanker-before blockquote{
    color:  #565656;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px; 
    margin: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 8px;

}
.ravishanker-before blockquote p{
    margin: 0;
}

.ravishanker-before blockquote p:before{
    content: url("../img/quote-grey.png");
}
.ravishanker-before .details-all:after{
    content: url("../img/ravilogo.jpg");
    padding-right: 15px;
    float:right;
}




.hp{
    margin-bottom: 0;
    margin-top: 5px;
    vertical-align: bottom;
    height: 97px;
    width: 110px;
    content: url("../img/hp.jpg");

}
.hp:hover{
        position: relative;
    content: url("../img/play.jpg");
        margin-bottom: 0;
    margin-top: 5px;
    vertical-align: bottom;
    height: 97px;
    width: 110px;
}
.atos{
        vertical-align: bottom;

        margin-bottom: 0;
    padding-bottom: 0px;
    margin-top: 0px;
    height: 97px;
    width: 110px;
    content: url("../img/atos.jpg");
    padding-left:4px;

}

.atos:hover{
    position: relative;
    content: url("../img/play.jpg");
    margin-bottom: 0;
    padding-bottom: 0px;
    margin-top: 0px;
    height: 97px;
    width: 110px;
    padding-left:4px;
}
.name{
color:  #3aa6db;
font-size: 14px; 
font-weight: 300;
line-height: 30px; 
text-align: left;
}








    





footer{
    background: #2D2D2D;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center ;
    background-position-y:center;
    color:white;
    z-index: 5;
    padding-top: 10px;
    position: relative;

}

.sitemap{
    max-width:960px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: white;

        

}

footer ul{
    list-style: none;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}


.sitemap-li{
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
    margin: 0 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}




.last{
    background-color: rgba(225, 225, 225, 0.28);
    background: -webkit-linear-gradient(90deg, rgba(93, 93, 93, 0.28) 0%, rgba(255, 255, 255, 0.28) 100%);
    background: -moz-linear-gradient(90deg, rgba(93, 93, 93, 0.28) 0%, rgba(255, 255, 255, 0.28) 100%);
    background: -o-linear-gradient(90deg, rgba(93, 93, 93, 0.28) 0%, rgba(255, 255, 255, 0.28) 100%);
    background: -ms-linear-gradient(90deg, rgba(93, 93, 93, 0.28) 0%, rgba(255, 255, 255, 0.28) 100%);
    background: linear-gradient(0deg, rgba(93, 93, 93, 0.28) 0%, rgba(255, 255, 255, 0.28) 100%);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
    width: 263px;
    height: 323px;
    vertical-align: top;
    position: relative;
}

.latesttime{
      display: inline-block;
      border-radius: 0px;
      background-color: transparent;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
      vertical-align: top;
      width: 69px;
      height: 99px;
       margin-top: 0; 
      margin-right: 5px;
      margin-bottom: 10px;
      margin-left: 10px;
      float: left;
}
.latest h5{
    color:  #4ea7d3;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
.latesttime .day{
    padding-top: 0; 
      vertical-align: top;

   padding-right: 0px; 
  padding-left: 0;
  padding-bottom: 0; 
  /* color: white; */
  text-align: center;
   display: block; 
  border-bottom: none; 
  font-size: 40px;
  font-weight: 400;
  /* width: 60px; */

}

.latest .month {
  color: white;
  text-align: center;
  display: block;
   font-size: 15px; 
  font-weight: 400;
}
.last .latest-hr{
    background-color:  #6a6a6a;
    box-shadow: 0px 1px 0px 0px #434343;
    width: 230px;
    height: 1px;

    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding: 0;

}

.subscribe h5{
    color:  #4ea7d3;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0 0 0;
}

.submit-signup{
    border-radius: 2px;
    background: -webkit-linear-gradient(90deg, #2991c5 0%, #46b5ec 100%);
    border-style: none;
    width: 67px;
    height: 28px;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 28.456px;
    text-align: left;

}

.input-signup{
    border-style: none;
    vertical-align: top;
    border-radius: 2px;
    background-color:  #ffffff;
    width: 150px;
    height: 28px;
    margin-left: 20px;
    padding-right: 0;
    margin-right: -4px;

}




.copyright{
color:  #969696;
font-size: 12px;
font-weight: 400;
line-height: 24px;
text-align: left;
}



.mobile{
    display:none;
}

.mobile-sitemap,
.search-mobile{
    display: none;
}



/***************MOBILE*******************/




@media all and (max-width: 976px)   {

.mobile{
    display: block;
    position: relative;
}
.header-fixed {
    
    width: 100%;

}

.logo{
    float: none;
    height: 37px;
    margin-right: -54px;
    padding-top: 35px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    position: absolute;
    right: 50%;
    width: 108px;
    top: 0;
}

.logo>img{
    max-width: 100%;

}


.header-login,
.search,
.navbar{
    display: none;
}

.ravishanker-before,
.hp,
.atos{
    display: none;
}

.search-btn-mobile{
    position: absolute;
    right: 0;
    top: 15px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-right: 10px;

}

.search-moblie{
  height: 30px;
  width: 30px;
  border: 1px solid #d9d9d9;
  float: none;
    border-radius: 5px;
    background: url("../img/searchBtnMobile.png") no-repeat scroll center center, linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);

}


.mobile-nav-btn{
    position: absolute;
    left: 10px;
    top: 15px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-right: 10px;

}

.nav-moblie{
    height: 30px;
    width: 30px;
    border: 1px solid #d9d9d9;
    float: none;
    border-radius: 5px;
    background: url("../img/hamburger-icon.png") no-repeat scroll center center, linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);

}


    .mobile a
    {
        text-decoration: none;
        color: #585951;
        vertical-align: middle;
    }




    .mobile li
    {
        background-color: #FCFCFC;
        border-bottom: solid 1px #DBDBDB;
        background:#DBDBDB;
        padding: 5px;
        height: 28px;
        cursor: pointer;        
    }


    .mobile li:before
    {
        content: url("../img/navCollapseArrowRight.png");
        padding-left: 7px;
        padding-right: 7px;
    }


    .mobile li:hover
    {
        background-image: none; 
        background-color: #FCFCFC;
    }

     

    .mobile ul
    {
        z-index: 0;
        padding-left: 0;
        margin-top: 90px;
        list-style: none;
        display: none;
        text-align: left;
        width: 100%;
        float: left;
        clear: both;

    }
    .mobile form
    {
        z-index: 999;
        position: relative;
        top: 90px;
        z-index: 999;
        width: 100%;
        top: 90px;
        color:black;
        display: none;
    }

    .mobile form input
    {

        z-index: 999;
        color:black;
        width: 100%;
        line-height: 25px;
        font-size: 14px;
        padding-left: 5px;
    }

    input[type=checkbox]
    {
        display: none;
    }

    .mobile-search-check:checked ~ form
    {
        display: block;
    }

    .mobile-nav-check:checked ~ ul
    {
        display: block;
    }
    .mobile a:hover
    {
        color:rgb(157, 160, 149);        
    }  







.carousel,
.carousel-container{
    margin: 0;
    padding: 0;
    background-position: relative;
    height: 100%;


}


.carousel-container > h1{
    margin-top: 0;
    padding-top:85px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 24px ; 
    font-weight: 400;
    line-height: 44px; 
    text-align: left;
    background: #3E8CBD;
    opacity: 0.7;
    width: 100%;
    position: relative;
}

.carousel-container >.policy{
    padding-top: 0;
    font-weight: 400;
    text-align: left;
    background: #3E8CBD;
    opacity: 0.7;
    width: 100%;
    margin-bottom: 10px;
        position: relative;

}
.policy >p{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.pagination{
    list-style-type: none;
}

.pagination a{
    display: block;
    padding-top: 10px;
}

.firstslide{
    background: #2D95C9;
    color: black;
  text-align: center;
  float: left;
  margin-left: 7px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*color:#2D95C9;*/
    
}

.secondslide,
.thirdslide,
.forthslide{
    background: #BCBCBC;
    color: black;
  text-align: center;
  float: left;
  margin-left: 7px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*color:#2D95C9;*/
    
}

.morebox{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    float: middle;
}

.morebox:after{
    content: '›';
    font-size: 48px;
    top: 50%;
    right: 20px;
    line-height: 0;
    position: absolute;

}


.sitemap{
    display: none;
}
.mobile-sitemap{
    position: relative;
    display: block;
}

/*******WHATCANWE******/
    .icons li ,.icons li:before {
        position: relative;
        width: 33%;
        margin-right: 0;
        margin-left: 0;
    }

.offering{
    position: relative;
    height: 100%;
    text-align: center;
    display: block;
    padding: 0;
}

.whatcanwe{
    height: 100%;
}
.whatcanwe h3{
    padding-top: 100px;
}

/**********************/


/******************************HAPPENING***************/
    .events{
        text-align: center;
        height: 100%;
    }
    .happening{
        text-align: center;
        height: 100%;
    }





/****************************************************/




/*******stories********************/


.success{
    height: 100%;

}
.adale-before {
    padding-right: 0;
}
.stories ul {
    text-align: center;
}
.stories li{
text-align: center;
    display: inherit;
}





/***********************************************/


/**************footer******************************/
footer{
    bottom: 0;
    padding-top: 0;
}
    .mobile-sitemap li
    {
        color:white;
        background-color: #2D2D2D;
        border-bottom: solid 1px #DBDBDB;
        background:#2D2D2D;;
        padding: 5px;
        height: 28px;
        cursor: pointer;        
    }

    .mobile-sitemap a{
        text-decoration: none;
        color: white;
    }


    .mobile-sitemap li:hover
    {
        background-image: none; 
        background-color: #FCFCFC;
        background: #ECECEC;
    }

    .mobile-sitemap a:hover
    {
        color: #3399CC;        
    }    

    .mobile-sitemap ul
    {

        padding-left: 0;
        list-style: none;
        text-align: left;
        width: 100%;
        float: left;
        clear: both;

    }
    .mobile-copyright{
        font-size: 14px;
        background: white;
        color: black;
        text-align: center;
    }





/***********************************************/
}


/*

@media all and (max-width: 767px)
header{
    height: 60px;

}

@media screen and (max-width: 767px)
.container {
    height: auto;
    width: auto;
}


*/







